.container.contact__container{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    background: #1f1f38;
   color: #fff;
}
.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    line-height: 1.7;
}
.contact__option{
    background: #2c2c6c;
    padding: 1.2rem;
    gap: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: all 400ms ease;
}
.contact__option:hover{
    background: transparent;
    background-color: rgb(131, 152, 216);
}
.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.contact__option a{
    margin-top: 0.7rem;
    display:inline-block;
    font-size: 0.8rem;  
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid rgba(77, 181, 255, 0.4);
    resize: none;
    color: #fff;
} 
.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}
.btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}
.btn-primary{
    background: var(--color-primary);
    color: var(--color-bg);
}

/*======MEDIA QUERIES (SMALL DEVICES)=====*/
@media screen and (max-width:  960px){
    .container.contact__container{
        width: 90%; 
    }
}